.footer-container {
    background-color: $color-purple-50;
    color: white;
    padding: 2.5rem 0 0;
}

.footer {
    display: flex;

    &__company {
        position: relative;
        margin-bottom: 0;
        padding-right: 0.75rem;

        &__context {
            &-link {
                @extend .ext-link-medium;
                display: flex;
                width: min-content;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 2.4rem;
                color: white;
                background-color: transparent;

                &:hover {
                    color: $color-red-bckg;
                }
            }

            &-address {
                display: none;
                margin-top: 0.8rem;
                margin-bottom: 0.8rem;
                font-style: normal;
                line-height: inherit;
            }
        }

        &__icons {
            display: none !important;
            position: absolute;
            bottom: 0;
            margin-top: 0.15rem;
            margin-bottom: 1rem;

            &-link {
                margin-right: 0;
                text-decoration: none;
                padding-right: 0.5rem;
                fill: white;
                font-weight: 500;
                line-height: 1.3rem;
                cursor: pointer;
                background-color: transparent;

                &:hover {
                    fill: $color-red-bckg ;
                }
            }
        }
    }

    &__social {
        &__items {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            &__item {
                min-width: 7.65rem;
                font-size: 0.7rem;
                padding: 0;
                font-family: $font-basic;
                margin-top: 0;

                &-h {
                    display: block;
                    cursor: pointer;
                    border-bottom: thin solid $color-purple-90;
                    position: relative;
                    padding-top: 0.75rem;
                    padding-bottom: 0.75rem;
                    font-size: 0.8rem;
                    font-weight: 300;
                }

                &-link {
                    @extend .ext-link-regular;
                    width: max-content;
                    font-size: 0.65rem;
                    font-weight: 500;
                    list-style: none;
                    display: none;
                    color: white;
                    line-height: 1.3rem;
                    background-color: transparent;

                    &:hover {
                        color: $color-red-bckg;
                    }
                }
            }
        }

        &__icons {
            margin: 1.5rem 0 -0.5rem 0;

            &-link {
                margin-right: 0.5rem;
                text-decoration: none;
                fill: white;
                padding: 0.2rem 0.5rem 0.2rem 0;
                flex-basis: 25%;
                font-weight: 500;
                line-height: 1.3rem;
                cursor: pointer;
                background-color: transparent;

                &:hover {
                    fill: $color-red-bckg ;
                }

                > * {
                    transform: scale(1.5);
                }
            }
        }

        &__created {
            background-color: $color-purple-50;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            padding-top: 0.5rem;
            font-size: 0.8rem;
            line-height: 1.4rem;
            margin-top: 0.9rem;

            .context {
                margin-bottom: 0.95rem;
                color: white;
                padding: 0.2rem 0.5rem 0.2rem 0;
            }

            &-text-1 {
                @extend .context;
                flex-basis: 100%;
            }

            &-text-2 {
                @extend .context;
                flex-basis: 50%;
            }

            &-link {
                color: white;
                padding: 0.2rem 0;
                flex-basis: 25%;
                text-decoration: none;
                font-weight: 500;
                line-height: 1.3rem;
                cursor: pointer;
                background-color: transparent;

                &:hover {
                    color: $color-red-bckg;
                }
            }
        }
    }
}