.form-container {
    margin-top: 2.8rem;
    padding: 7rem 0 2.25rem;
    background: linear-gradient(to right, white 0%, white 50%, #311d40 50%, #311d40 100%);
}

.form {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    &__context {
        @extend .ext-context;

        &-h {
            font-size: 2em;
            line-height: 2.5rem;
        }

        &-subtitle {
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.5rem;
            margin-top: 0;
            margin-bottom: 1rem;
        }

        &__sign {
            position: relative;

            &-google {
                padding: 0.5rem 0;
                text-align: center;
                display: block;
                background: $color-white-254;
                border: 0.05rem solid $color-grayscale-183;
                box-sizing: border-box;
                border-radius: 0.2rem;
                text-decoration: none;
                color: $color-red-bckg;
                font-weight: 500;
                line-height: 1.3rem;
                cursor: pointer;

                &-icon {
                    width: 1.2rem;
                    display: inline-block;
                    height: 1.2rem;
                    vertical-align: bottom;
                    margin-right: 0.25rem;
                }

                &-text {
                    display: inline-block;
                    font-size: 0.7rem;
                    line-height: 0.85rem;
                    text-align: center;
                    letter-spacing: 0.21875px;
                    color: $color-grayscale-62;
                }
            }

            &-subtext {
                text-align: center;
                font-size: 0.6rem;
                line-height: 0.7rem;
                margin: 0.85rem 0 0.45rem;
            }

            &-inputs {
                position: relative;
                margin: 0.9rem 0 1.1rem;

                &-label {
                    display: block;
                    padding: 0.25rem;
                    margin-left: 0.5rem;
                    margin-bottom: 0.5rem;
                    font-size: 0.6rem;
                    line-height: 0.7rem;
                    position: absolute;
                    top: -0.65rem;
                    background-color: white;
                }

                &-input {
                    padding: 1rem 0.75rem 0.55rem;
                    display: block;
                    font-size: 0.7rem;
                    line-height: 0.85rem;
                    width: 100%;
                    border: 0.05rem solid $color-grayscale-217;
                    box-sizing: border-box;
                    border-radius: 0.2rem;
                    overflow: visible;
                    font-family: $font-basic;
                }
            }

            &-submit {
                cursor: pointer;
                width: 100%;
                background: $color-red-bckg;
                border-radius: 1.25rem;
                color: white;
                font-size: 0.7rem;
                line-height: 0.85rem;
                font-weight: bold;
                padding: 0.8rem;
                text-align: center;
                letter-spacing: 0.21875px;
                overflow: visible;
            }
        }

        &__disclaimer {
            font-size: 0.6rem;
            line-height: 0.7rem;
            text-align: center;
            margin: 0.8rem 0;

            > a {
                text-decoration: none;
                color: $color-red-bckg;
                font-weight: 500;
                line-height: 1.3rem;
                cursor: pointer;
                background-color: transparent;

                &:hover {
                    text-decoration: underline;
                    color: $color-red-hover2;
                }
            }
        }
    }

    &__image {
        @extend .ext-static_container;
        display: flex;
        flex-direction: column;
        justify-content: center;

        > img {
            left: inherit;
            max-width: 23.25rem !important;
            right: -5%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 120% !important;
        }
    }
}