.icon{
    width: 20px;
    height: 20px;
    fill: inherit;
}

.nav-container {
    .arrow {
        width: 16px;
        height: 8px;
    }
}

.footer {
    .icon-facebook {
        width: 8px;
        height: 15px;
    }

    .icon-twitter {
        width: 18px;
        height: 15px;
    }

    .icon-linkedin {
        width: 15px;
        height: 15px;
    }

    .icon-instagram {
        width: 15px;
        height: 15px;
    }

    .icon-you_tube {
        width: 21px;
        height: 15px;
    }
}