.icon{
    width: 1rem;
    height: 1rem;
    fill: inherit;
}

.nav-container {
    .arrow {
        width: 0.8rem;
        height: 0.4rem;
    }
}

.footer {
    .icon-facebook {
        width: 0.4rem;
        height: 0.75rem;
    }

    .icon-twitter {
        width: 0.9rem;
        height: 0.75rem;
    }

    .icon-linkedin {
        width: 0.75rem;
        height: 0.75rem;
    }

    .icon-instagram {
        width: 0.75rem;
        height: 0.75rem;
    }

    .icon-you_tube {
        width: 1.05rem;
        height: 0.75rem;
    }
}