.inbox-container {
    padding-top: 2.7rem;
}

.inbox {
    &__top {
        @extend .ext-static_container;

        &-text {
            text-align: center !important;
            font-size: 1rem;
            line-height: 1.5rem;
            margin: 0.8rem 0;
        }

        &-brends {
            width: 100%;
            display: block;
            text-align: center;
            margin-top: 0.8rem;
            padding-top: 0.7rem;
            margin-bottom: 4.5rem;

            > * {
                display: inline-block;
                max-height: 2rem;
                max-width: 7.45rem;
                vertical-align: middle;
                margin: 1rem;
                width: initial;
            }

            > img:nth-child(1) {
                max-height: 1.3rem;
            }

            > img:nth-child(3) {
                max-height: 1.8rem;
            }

            > img:nth-child(5) {
                max-height: 1.25rem;
            }
        }
    }

    &__image {
        margin: 0 auto;
        display: block;
        max-width: 44.45rem;
        width: 100%;
    }

    &__context {
        @extend .ext-static_container;
        text-align: center;
        padding: 3.5rem 0 3rem;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        > * {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        &-h ,
        &-text {
            @extend .ext-static_container;
        }

        &-text {
            font-size: 1rem;
            line-height: 1.5rem;
            margin: 0.8rem 0;
        }

        &__buttons {
            margin-top: 2.2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            > * {
                margin-bottom: 0;
                @extend .ext-button-0_6r-1_5r;

                &:hover {
                    @extend .ext-static_button-hover;
                }
            }

            &-request_demo {
                background: transparent;
                color: $color-red-bckg;
                box-shadow: none;
            }
        }
    }
}