.nav-container {
    position: fixed;
    top: 0;
    z-index: 10000;
}

.container > .nav-banner {
    max-width: 100%;
}

.nav-banner {
    background: $color-red-bckg;
    padding: 0.5rem 1rem;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;

    &__text {
        display: none;
        font-size: 0.8rem;
        color: white;
        margin: 0;
        text-align: center;
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }

    &__link {
        display: inline-flex;
        margin-right: 0;
        margin-bottom: 0;
        padding: 0.5rem 1rem;
        background: transparent;
        border: 0.05rem solid white;
        box-shadow: none;
        border-radius: 5rem;
        font-family: "Graphic-Medium";
        font-size: 0.7rem;
        color: white;
        text-align: center;
        line-height: 0.7rem;
        text-decoration: none;
        transition: all ease-in-out 0.2s;
        margin-left: 0;
        cursor: pointer;

        &:hover {
            background: $color-red-hover;
            border: 0.05rem solid $color-red-hover;
            color: white;
            text-decoration: none;
            -webkit-box-shadow: $color-shadow-2;
            box-shadow: $color-shadow-2;
        }
    }
}

.mobile__nav_banner {
    background: $color-red-bckg;
    display: none;
    padding: 0.5rem 1rem;
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
        font-size: 0.8rem;
        color: white;
        margin: 0;
        text-align: center;
        align-items: center;
        display: flex;
        width: 60%;
        text-align: left;
    }

    &-link {
        margin-right: 0;
        padding: 0.5rem 1rem;
        margin-bottom: 0;
        background: transparent;
        border: 0.05rem solid white;
        box-shadow: none;
        border-radius: 5rem;
        font-family: "Graphik-Medium";
        font-size: 0.7rem;
        color: white;
        text-align: center;
        display: inline-flex;
        line-height: 0.7rem;
        text-decoration: none;
        transition: all ease-in-out 0.2s;
        margin-left: 0;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            background: $color-red-hover;
            border-color: $color-red-hover;
            color: white;
            box-shadow: $color-shadow-2;
        }
    }
}

.nav {
    transition: top 0.3s;
    height: 3rem;
    display: none;

    &__container {
        &__logo {
            > * {
                height: 1.35rem;
                text-decoration: none;
                color: $color-red-bckg;
                line-height: 1.3rem;
                cursor: pointer;
                background-color: transparent;

                > .icon {
                    width: 6.85rem;
                    height: 1.35rem;
                }
            } 
        }

        &__links {
            &-pricing,
            &-demos {
                text-decoration: none;
                color: $color-red-bckg;
                font-weight: 500;
                line-height: 1.3rem;
                cursor: pointer;
                background-color: transparent;
            }
        }

        &__utility {
            &-try_free {
                background-color: $color-red-bckg;
                -webkit-box-shadow: $color-shadow-2;
                box-shadow: $color-shadow-2;
                border-radius: 5rem;
                font-family: "Graphik-Medium";
                font-size: 0.7rem;
                color: white;
                text-align: center;
                padding: 0.6rem 1.5rem;
                display: inline-flex;
                border: 0.05rem solid $color-red-bckg;
                line-height: 0.7rem;
                text-decoration: none;
                transition: all ease-in-out 0.2s;
                margin-right: 0.9rem;
                margin-bottom: 0.4rem;
                margin-left: 0;
                cursor: pointer;

                font-weight: 500;

                &:hover {
                    background-color: white;
                    border: 0.05rem solid white;
                    color: $color-red-bckg;
                    text-decoration: none;
                    -webkit-box-shadow: $color-shadow-2;
                    box-shadow: $color-shadow-2;
                }
            }

            &-login {
                text-decoration: none;
                color: $color-red-bckg;
                font-weight: 500;
                line-height: 1.3rem;
                cursor: pointer;

                background-color: transparent;

                &:hover {
                    text-decoration: underline;
                    color: $color-red-hover2;
                }
            }
        }
    }
}

.mobile__nav {
    transition: top 0.3s;
    display: block;
    height: 3rem;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 200;
    box-shadow: $color-shadow-7;
    padding: 0;

    &-logo {
        display: flex;
        position: absolute;
        top: 1.1rem;
        left: 0.15rem;
        z-index: 10;
        opacity: 1;
        transition: all 0.22s ease-in-out;

        > .icon {
            height: 1.05rem;
            width: 6.85rem;
            overflow: hidden;
            vertical-align: middle;
        }
    }

    &-arrow {
        display: inline-block;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 1.35rem;
        top: 0.75rem;
        z-index: 10;

        > .icon {
            height: 0.6rem;
            width: 1.6rem;
            overflow: hidden;
            vertical-align: middle;
        }
    }

    &-hamburger {
        z-index: 10;
        width: 1.2rem;
        height: 0.9rem;
        position: absolute;
        top: 1.05rem;
        right: 0.75rem;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;

        > span {
            left: 0;
            border-radius: 1rem 0 0 1rem;
            display: block;
            position: absolute;
            height: 0.1rem;
            width: 50%;
            background: $color-red-bckg;
            opacity: 1;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }

        > span:nth-child(odd) {
            left: 0;
            border-radius: 1rem 0 0 1rem;
        }

        > span:nth-child(even) {
            left: 50%;
            border-radius: 0 1rem 1rem 0;
        }

        > span:nth-child(1),
        > span:nth-child(2) {
            top: 0;
        }

        > span:nth-child(3),
        > span:nth-child(4) {
            top: 0.4rem;
        }

        > span:nth-child(5),
        > span:nth-child(6) {
            top: 0.8rem;
        }

        > span.white {
            background: white;
        }
    }

    &-hamburger.active {
        > span:nth-child(1) {
            left: 0;
            top: 0.25rem;
            transform: rotate(45deg);
        }

        > span:nth-child(2) {
            left: calc(50% - 4px);
            top: 0.25rem;
            transform: rotate(-45deg);
        }

        > span:nth-child(3) {
            left: -50%;
            opacity: 0;
        }

        > span:nth-child(4) {
            left: 100%;
            opacity: 0;
        }

        > span:nth-child(5) {
            left: 0;
            top: 0.65rem;
            transform: rotate(-45deg);
        }

        > span:nth-child(6) {
            left: calc(50% - 4px);
            top: 0.65rem;
            transform: rotate(45deg);
        }
    }
}

.mobile__nav.col {
    background-color: $color-grayscale-62;

    > .mobile__nav-logo {
        opacity: 0;
    }

    .mobile__nav-arrow {
        opacity: 1;
        visibility: visible;
    }
}

.mobile__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    transform: translateX(-120%);
    transition: all 0.22s ease-in-out;
    z-index: 100;
    overflow: scroll;
    padding: 0;

    &__menu {
        transition: all 0.25s ease 0s;
        opacity: 1;
        padding: 135px 0 0 40px;
        margin-top: 0;
        margin-bottom: 0.8rem;

        > * {
            cursor: pointer;
            font-family: "Graphik-Medium";
            font-size: 1.1rem;
            color: $color-grayscale-62;
            letter-spacing: 0;
            line-height: 2.75rem;
            display: flex;
            align-items: baseline;
        }

        &-why_copper,
        &-industry,
        &-resources {
            > .icon {
                transform: rotate(180deg);
                position: relative;
                left: 0.25rem;
            }
        }

        &-pricing,
        &-demos {
            > a {
                color: $color-grayscale-62;
                text-decoration: none;
            }
        }

        &__buttons {
            > * {
                background-color: $color-red-bckg;
                box-shadow: $color-shadow-2;
                border-radius: 5rem;
                font-family: "Graphik-Medium";
                font-size: 0.7rem;
                color: white;
                text-align: center;
                padding: 0 1.5rem;
                display: inline-flex;
                border: 0.05rem solid $color-red-bckg;
                padding: 0.6rem 1.5rem;
                line-height: 0.7rem;
                text-decoration: none;
                transition: all ease-in-out 0.2s;
                margin-right: 0.9rem;
                margin-bottom: 0.4rem;
                margin-left: 0;
                cursor: pointer;
                font-weight: 500;

                &:hover {
                    color: $color-red-bckg;
                    background-color: white;
                    border: 0.05rem solid white;
                    box-shadow: $color-shadow-2;
                }
            }

            &-try_free {
                color: white;
                margin-top: 1.6rem;
            }

            &-login {
                color: $color-red-bckg;
                margin-top: 1.6rem;
                background: transparent;
                box-shadow: none;
            }
        }
    }

    &__col {
        &__why_copper,
        &__industry,
        &__resources {
            position: absolute;
            transform: translateX(-100%);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $color-grayscale-62;
            transition: all 0.22s ease-in-out;
            padding: 4.5rem 0 0 1.5rem;
            overflow: auto;
            margin-bottom: 0.8rem;

            &-title {
                font-size: 1.2rem;
                font-family: "Graphik-Medium";
                padding-bottom: 1.2rem;
                display: inline-block;
                color: white;
            }

            &-link {
                display: flex;
                width: max-content;
                font-size: 0.9rem;
                line-height: 2.5rem;
                color: white;
                text-decoration: none;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        > .active{
            transform: translateX(0);
        }
    }
}

.mobile__overlay.active {
    transform: translateX(0);
}