.tools-container {
    padding: 3rem 0 3rem;
}

.tools {
    &__top {
        margin-bottom: 3.25rem;
        text-align: center;
        -webkit-box-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        &-h {
            @extend .ext-static_container;
            text-align: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__items {
        padding-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.75rem;
        margin-left: -0.75rem;

        &-item {
            @extend .ext-static_container;
            margin-bottom: 1.5rem;
            display: flex;

            &-icon {
                width: 1.75rem;
                height: 1.75rem;
                position: relative;
                display: flex;
                -webkit-box-align: baseline;
                align-items: baseline;

                > img {
                    width: 1.75rem;
                    max-width: 1.75rem;
                }
            }

            &-context {
                padding-left: 1.25rem;
                width: calc(100% - 1.75rem);
                padding-right: 1.5rem;

                &-text {
                    color: #8A8C8B;
                    font-size: 0.8rem;
                    line-height: 1.4rem;
                    margin: 0.3rem 0 0.8rem;
                }
            }
        }
    }
}