@media (max-width: 991.98px) {
    .container {
        > * {
            max-width: 890px;
        }
    }

    body.stop_scrolling {
        overflow: hidden;
    }

    .nav-banner {
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 75px;
    }

    .mobile__nav_banner {
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 75px;
    }

    .form {
        &__image {
            > img {
                position: relative;
                top: 0px;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                width: 100% !important;
            }
        }
    }

    .md_banner {
        &-background {
            display: none;
        }
    }

    .it_brand-container {
        background: #14236E;
    }

    .it_brand {
        &__col {
            &-image {
                > img {
                    position: relative !important;
                    top: 0px !important;
                    left: 0px !important;
                    max-width: 120% !important;
                    width: 100% !important;
                    max-height: none !important;
                    height: auto !important;
                    margin-top: 30px;
                }
            }
        }
    }
}