@media (max-width: 767.98px) {
    .container {
        > * {
            max-width: 30rem;
        }
    }
    
    .nav-banner {
        display: none;
    }

    .mobile__nav_banner {
        display: flex;

        &-text{
            font-size: 0.8rem;
        }

        &-link {
            font-size: 0.7rem;
        }
    }

    .mobile_nav {
        top: 3.75rem;
    }

    .mobile__overlay {
        top: 3.75rem;
    }

    .form-container {
        margin-top: 6.25rem;
        background: none;
        padding: 1.5rem 0px 1.5rem;
    }

    .form {
        &__context {
            &-h {
                margin-top: 3.75rem !important;
            }

            &__sign {
                &-google {
                    margin-bottom: 1.8rem;
                }
            }

            &__disclaimer {
                max-width: 15.75rem;
                text-align: center;
                margin: 0.8rem auto;
            }
        }

        &__image > img{
            align-self: center;
        }
    }

    .inbox-container {
        padding-bottom: 3rem;
    }

    .crm {
        &__item {
            flex-wrap: wrap;
        }
    }

    .it_brand {
        &__col {
            flex-wrap: wrap;
            margin-left: -0.75rem;
            width: calc(100% + 1.5rem);
        }
    }

    .btm_banner {
        &-image {
            display: none;
        }

        &__col {
            &__context {
                &__buttons {
                    margin-right: auto;
                }
            }
        }
    }

    .footer {
        flex-wrap: wrap;

        &__company {
            margin-bottom: 0.8rem;
        }

        &__social {
            &__items {
                &__item.active {
                    > p {
                        margin-bottom: 0.5rem;
                    }

                    > a {
                        font-size: 0.8rem;
                        display: block;
                        margin-bottom: 0.2rem;
                        font-family: $font-basic;
                        line-height: 1.2rem;

                    }
                }
            }
        }
    }
}