@media (max-width: 767.98px) {
    .container {
        > * {
            max-width: 600px;
        }
    }
    
    .nav-banner {
        display: none;
    }

    .mobile__nav_banner {
        display: flex;

        &-text{
            font-size: 16px;
        }

        &-link {
            font-size: 14px;
        }
    }

    .mobile_nav {
        top: 75px;
    }

    .mobile__overlay {
        top: 75px;
    }

    .form-container {
        margin-top: 125px;
        background: none;
        padding: 30px 0px 30px;
    }

    .form {
        &__context {
            &-h {
                margin-top: 75px !important;
            }

            &__sign {
                &-google {
                    margin-bottom: 36px;
                }
            }

            &__disclaimer {
                max-width: 315px;
                text-align: center;
                margin: 16px auto;
            }
        }
    }

    .inbox-container {
        padding-bottom: 60px;
    }
}