@media (min-width: 768px) {
    .container {
        > * {
            max-width: 720px;
        }
    }

    h1 {
        font-size: 68px;
        line-height: 74px;
    }

    h2 {
        font-size: 52px;
        line-height: 64px;
    }

    .nav-banner {
        &__text {
            display: flex;
        }
    }

    .mobile__nav_banner {
        display: none;
    }

    .nav {
        &__container {
            &__utility {
                &-try_free {
                    margin-bottom: 0;
                }
            }
        }
    }

    .form {
        &__context {
            padding-right: 107px;
            -webkit-box-flex: 0;
            flex: 0 0 50%;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 50%;
            max-width: 50%;

            &-h {
                font-size: 52px;
                line-height: 64px;
            }
        }

        &__image {
            padding-right: 107px;
            flex-basis: 0;
            -webkit-box-flex: 1;
            flex-grow: 1;
            max-width: 100%;
        }
    }

    .inbox {
        &__top {
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
        }

        &__context {
            margin-left: calc(1/6 * 100%);
            -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
            max-width: 66.66667%;

            &-h {
                -webkit-box-flex: 0;
                flex: 0 0 83.33333%;
                max-width: 83.33333%;
            }

            &-text {
                -webkit-box-flex: 0;
                flex: 0 0 100%;
                max-width: 100%;
            }

            &__buttons {
                display: block;

                > * {
                    margin-bottom: 0;
                }
            }
        }
    }

    .md_banner {
        &__context {
            -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
            max-width: 66.66667%;

            &-h {
                -webkit-box-flex: 0;
                flex: 0 0 100%;
                max-width: 100%;
            }

            &-text {
                -webkit-box-flex: 0;
                flex: 0 0 83.33333%;
                max-width: 83.33333%;
            }

            &__buttons {
                display: block;

                > * {
                    margin-bottom: 0;
                }
            }
        }
    }

    .crm-container {
        padding: 120px 0 120px;
    }

    .crm {
        &-col {
            -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
        }

        &__item {
            &-image {
                -webkit-box-flex: 0;
                flex: 0 0 50%;
                max-width: 50%;

                &-col {
                    display: inline-block;
                    max-width: 100%;
                    padding: 0;
                    margin: 40px 0px 0px;
                }
            }

            &__context {
                -webkit-box-flex: 0;
                flex: 0 0 41.66667%;
                max-width: 41.66667%;
            }

            &-image.float-left {
                margin-right: 8.33333%;
            }

            &-image.float-right {
                margin-left: 8.33333%;
                order: 2;
            }
        }
    }

    .it_brand-container {
        margin: 0 0 65px;
    }

    .it_brand {
        &__col {
            -webkit-box-flex: 0;
            flex: 0 0 calc(91.66667% + 30px);
            max-width: calc(91.66667% + 30px);
            margin-left: -15px;

            > * {
                -webkit-box-flex: 0;
                flex: 0 0 50%;
                max-width: 50%;
            }

            &__context {
                &__col {
                    padding-left: 5%;
                    padding-top: 0;
                }
            }

            &-image {
                > img {
                    height: auto;
                }
            }
        }
    }

    .tools-container {
        padding: 120px 0 120px;
    }

    .tools {
        &__top {
            &-h {
                -webkit-box-flex: 0;
                flex: 0 0 66.66667%;
                max-width: 66.66667%;
            }
        }

        &__items {
            &-item {
                -webkit-box-flex: 0;
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
            }
        }
    }

    .btm_banner {
        padding-top: 80px;
        height: 600px;
        padding-bottom: 80px;
        text-align: left;

        &-image {
            display: block;
        }

        &__col {
            &__context {
                -webkit-box-flex: 0;
                flex: 0 0 50%;
                max-width: 50%;

                &__buttons {
                    display: block;

                    > * {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .footer-container {
        padding: 60px 0 50px;
    }

    .footer {
        flex-wrap: nowrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;

        &__company {
            flex-basis: 50%;

            &__context {
                &-link {
                    line-height: 64px;
                }

                &-address {
                    display: block;
                }
            }

            &__icons {
                display: block !important;
                flex-basis: 50%;
            }
        }

        &__social {
            &__items {
                padding-top: 20px;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                flex-direction: row;

                &__item {
                    width: 33%;
                    padding-right: 28px;
                    margin-bottom: 44px;

                    &-h {
                        cursor: initial;
                        border-bottom: none;
                    }

                    &-link {
                        display: flex;
                    }
                }
            }

            &__icons {
                display: none;
            }

            &__created {
                font-size: 13px;
                line-height: 18px;
                //display: block;
                margin-top: 2px;

                &-text-1 {
                    flex-basis: 50%;
                    padding-right: 25px;
                }

                &-text-2 {
                    flex-basis: 25%;
                }

                &-link {
                    flex-basis: 12.5%;
                    line-height: 18px;
                }
            }
        }
    }
}