@media (min-width: 768px) {
    .container {
        > * {
            max-width: 720px;
        }
    }

    h1 {
        font-size: 68px;
        line-height: 74px;
    }

    .nav-banner {
        &__text {
            display: flex;
        }
    }

    .nav {
        &__container {
            &__utility {
                &-try_free {
                    margin-bottom: 0;
                }
            }
        }
    }

    .form {
        &__context {
            padding-right: 107px;
            -webkit-box-flex: 0;
            flex: 0 0 50%;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 50%;
            max-width: 50%;

            &-h {
                font-size: 52px;
                line-height: 64px;
            }
        }

        &__image {
            padding-right: 107px;
            flex-basis: 0;
            -webkit-box-flex: 1;
            flex-grow: 1;
            max-width: 100%;
        }
    }
}