
@font-face {
    font-family: "Graphic-Regular";
    src:  url("../fonts/Graphic-Regular.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Graphic-Medium";
    src:  url("../fonts/Graphic-Medium.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}