$font-basic:'Open Sans';

$color-shadow-2: 0 0.3rem 1rem 0 rgba(0,0,0,0.2);
$color-shadow-7: 0 0.3rem 1rem 0 rgba(60,63,64,0.07);
$color-shadow-red: 0 0.2rem 0 0 rgb(255, 52, 101);
$color-grayscale-62:rgb(60, 63, 64);
$color-grayscale-178:rgb(177, 178, 179);
$color-grayscale-183:rgb(176, 183, 186);
$color-grayscale-217:rgb(217, 217, 217);
$color-white-254: rgb(252, 254, 255);
$color-blue-110:rgb(20, 35, 110);
$color-purple-50:rgb(50, 30, 65);
$color-purple-90:rgb(91, 75, 103);
$color-purple-143:rgb(86, 70, 143);
$color-red-bckg:rgb(255, 52, 101);
$color-red-hover:rgb(255, 72, 116);
$color-red-hover2: rgb(255, 93, 132);